<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Base.Baseclass"/>
      <class name="Test.SignupTest"/>
      <class name="Test.LoginTest"/>
      <class name="Test.ProductsTest"/>
      <class name="Test.AddtoCartTest"/>
      <class name="Test.CheckOutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
